[Unit]
Description=Simulator for CAT C32 engine
After=syslog.target network.target

[Service]
User=munnik
Group=munnik
WorkingDirectory=/home/munnik/Code/modbus-simulator
ExecStart=/home/munnik/Code/modbus-simulator/venv/bin/python main.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
