[Unit]
After=signalk.service
PartOf=signalk.service
[Service]
ExecStart=signalk-cloud-rx
Restart=always
WorkingDirectory=/home/signalk/.signalk-cloud
User=signalk
[Install]
WantedBy=multi-user.target
